html, body, #app {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    position: relative;
    display: flex;
    flex-direction: column;
}

:root {
    --lowerbound: 0%;
    --upperbound: 100%;
    --controlcolor: #6c757d;
    --contentcolor: #dee2e6;
    --contentopacity: 1;
}

#site {
    background-color: black;
    flex: 1;
    width: 100%;
    padding: 2px;
    margin: auto;
    display: flex;
    max-height: 100vh;
    justify-content: space-between;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.paddin-column-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-bottom: 10px;
}

#side {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#queries {
    margin-right: 2px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--contentcolor);
    opacity: var(--contentopacity);
}

#searchtype {
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}

#deck {
    margin-top: 1px;
    margin-right: 2px;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--contentcolor);
    opacity: var(--contentopacity);
}

#totals {
    display: flex;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    user-select: none;
    flex-wrap: wrap;
}

#civtotals {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
}

.subtotals-total {
    display: flex;
    justify-content: center;
}

#tottotal-wrapper {
    display: flex;
    align-content: flex-end;
}

#civtotal-wrapper {
    display: flex;
    align-content: flex-start;
}

.subtotals {
    display: flex;
    justify-content: center;
}

#efftotals {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.totalbdg {
    margin-left: 1px;
    margin-right: 1px;
}

#deckbuttons {
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#decktextcontainer {
    margin-top: 3px;
    flex: 1;
    position: relative;
    display: flex;
}

#deckoverlay-container-wrapper {
    position: absolute;
    z-index: 1;
    flex: 1;
    width: 300px;
    pointer-events: none;
    overflow-y: scroll;
    scrollbar-width: none;
}

#deckoverlay-container-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#deckoverlay-container {
    padding-top: 6px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.deckoverlay {
    min-height: 24px;
    width: 300px;
    height: 24px;
    display: flex;
    padding-right: 5px;
    justify-content: flex-end;
    align-items: center;
}

.deckoverlay-icon-wrapper {
    width: 25px;
    display: flex;
    justify-content: center;
}

.deckoverlay-icon {
    margin-right: 2px;
}

#decktext {
    z-index: 0;
    flex: 1;
    position: absolute;
    padding: 5px;
    border: 0px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#decktext::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.query {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pickem {
    background-color: var(--controlcolor);
    border-radius: .2rem;
    padding: 4px;
    padding-bottom: 6px;
}

.pickem-down {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    height: 15px;
}

.btn-lg {
    display: flex!important;
    border: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.btn-sm {
    display: flex!important;
    justify-content: center;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.btn-outline-secondary {
    border-left: 0px!important;
    border-right: 0px!important;
    border-radius: 0px!important;
}

.dropdown-toggle {
    border-radius: 0px!important;
}

.close {
    display: none!important;
}

.b-form-tags-button {
    display: none!important;
}

.form-control {
    border-radius: 0px!important;
}

.card-header {
    padding-top: 0px!important;
    padding-left: 10px!important;
}

.tab-pane {
    padding: 0px!important;
    padding-top: 3px!important;
}

.nav-link {
    width: 105px!important;
}

.tab-title-backs {
    color: #6c757d;
}

.anyall-buttons {
    display: flex;
    justify-content: center;
}

.picker-container {
    display: flex;
}

.picker-item {
    font-size: 1px;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.slider-title {
    user-select: none;
    display: flex;
    justify-content: space-between;
}

.slider-proper {
    position: relative;
    padding-bottom: 12px;
}

.first-slider-badge {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.second-slider-badge {
    flex: 1;
    display: flex;
    justify-content: center;
}

.third-slider-badge {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.thumb {
    pointer-events: none;
}

input[type='range'] {
    pointer-events: none;
}

input[class='thumb custom-range']::-webkit-slider-runnable-track {
    background-color: transparent;
}

input[class='thumb custom-range']::-moz-range-track {
    background-color: transparent;
}

input[class='thumb custom-range']::-webkit-slider-thumb {
    background: var(--controlcolor);
    pointer-events: all;
}

input[class='thumb custom-range']::-moz-range-thumb {
    background: var(--controlcolor);
    pointer-events: all;
}

input[class='corer custom-range']::-moz-range-track {
    background-image: transparent;
}

input[class='corer custom-range']::-webkit-slider-thumb {
    background: transparent;
}

input[class='corer custom-range']::-moz-range-thumb {
    background: transparent;
}

input[class='corer custom-range']::-webkit-slider-runnable-track {
    background-image: linear-gradient(to right, white var(--lowerbound), var(--controlcolor) var(--lowerbound) var(--upperbound), white var(--upperbound) 100%);   
}

input[class='corer custom-range']::-moz-range-track {
    background-image: linear-gradient(to right, white var(--lowerbound), var(--controlcolor) var(--lowerbound) var(--upperbound), white var(--upperbound) 100%);   
}

#cards {
    user-select: none;
    flex: 1;
    display: flex;
    background-color: var(--contentcolor);
    opacity: var(--contentopacity);
    overflow-y: scroll;
    scrollbar-width: none;
    justify-content: center;
    margin-right: 1px;
}

#cards-centered {
    margin-top: 5px;
    display: flex;
}

#decklist {
    margin-left: 1px;
    width: 220px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--contentcolor);
    opacity: var(--contentopacity);
}

#decklist-radio {
    flex: 1;
    overflow-y: scroll;
    border-color: var(--controlcolor);
    scrollbar-width: none;
}

#decklist-radio::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body, .tab-title, .tab-input {
    font: inherit;
    margin: 0;
    padding: 0;
}

.tab-title-container {
    position: relative;
    margin-right: 3px;
}

.tab-title-container-wrapper {
    display: flex;
}

.tab-title {
    opacity: 1;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.tab-input {
  border: none;
  color: #888;
  min-width: 10px;
}


#cards-queried {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin: 1px;
}

#cards-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin: 1px;
}

#cards::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.deck-vertical-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    border-radius: 10px;
    margin: 1px;
    position: relative;
}

.card-image {
    border-radius: 10px;
}

.card-image:hover {
    filter: brightness(130%);
}
.card-tap {
    transform: rotate(90deg);
}

.card-untap {
    transform: rotate(0deg);
}
.decktitle:hover {
    filter: grayscale(100%); 
    filter: brightness(200%);
}

.zone {
    display: flex;
    justify-content: center;
    border: 3px solid;
    user-select: none;
}

.pile {
    display: flex;
    justify-content: center;
    border: 3px solid;
    user-select: none;
    position: relative;
}

.gamecard-container {
    display: flex;
    width: 62px;
    height: 87px;
    margin-top: auto;
    margin-bottom: auto;
}

.pilecard {
    position: absolute;
}

.manacard {
    transform: rotate(180deg);
}

#battle-zone {
    border-color: rgb(220, 53, 69);
    background-color: rgb(220, 53, 69, 0.5);
}

#shield-zone {
    border-color: rgb(255, 193, 7);
    background-color: rgb(255, 193, 7, 0.5);
}

#mana-zone {
    justify-content: flex-start;
    border-color: rgb(40, 167, 69);
    background-color: rgb(40, 167, 69, 0.5);
}

#grave-zone {
    border-color: rgb(52, 58, 64);
    background-color: rgb(52, 58, 64, 0.5);
}

#hand-zone {
    border-color: rgb(0, 123, 255);
    background-color: rgb(0, 123, 255, 0.5);
}

#deck-zone {
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0.5);
}